html{
  font-size: 62.5%;
}
/* スマホ横＆タブレット縦対応 */
@media screen and (min-width:500px) and (max-width:800px) {

}
/* スマホ縦対応  */
@media screen and (max-width:499px) { 
  html{
    font-size: 55.5%;
  }
}
/*******改行********/
  /* タブレット横＆ＰＣ対応 */
  @media screen and (min-width:801px){
    .view_sp {
      display: none;
    }
  }
  /* スマホ横＆タブレット縦対応 */
  @media screen and (min-width:500px) and (max-width:800px) {
    .view_sp {
      display: none;
    }
  }
  /* スマホ縦対応  */
  @media screen and (max-width:499px) { 
    .view_pc {
      display: none;
    }
  }
/* stsys2 */
body{
  font-family:'メイリオ', 'Meiryo', sans-serif;
  max-width: 2000px;
  margin: 0 auto;
}
p {
  font-size: 14px;
}
#error_message{
  font-size: 1.4rem;
  margin-top: 20px;
  border: 1px solid #000000;
  padding: 10px 20px;
  border-radius: 0.5rem;
}
.underline_red{
  color: red;
  text-decoration: underline;
  font-weight: bold;
}
.underline_black {
  color:black;
  text-decoration: underline;
  font-weight: bold;
}
.color_red {
  color:red;
  font-weight: bold;
}
.color_black {
  color:black;
  font-weight: bold;
}
.main_container {
  width:96%;
  margin:0 auto;
}
  /*最初の説明*/
  .explanation { 
    margin: 30px auto 0;
    border: 1px solid;
    padding: 10px;
  }
  .explanation_text {
    font-size: 2.0rem;
    font-weight: bold;
  }
.row_table,
.row_table td,
.row_table th {
  border: 1px solid #cbced2;
  border-collapse: collapse;
  text-align: center;
}

.row_table th {
  background: #01214d;
  color: #fff;
  padding: 4px 12px;
  display: block;
  width: 100%;
}

.row_table td {
  background: #f5f6f8;
  padding: 4px 12px;
  display: block;
  width: 100%;
}
/*会社情報入力テーブル*/
.table_01 {
  margin: 20px auto;
  border-collapse: collapse;
  border-spacing: 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-size: 0.5rem;
}
.table_01:nth-child(last){
  border-collapse: separate;
    border-spacing: 0px 10px;
}
.table_01 th {
  border: solid 1px #ccc;
  color: #fff;
  padding: 10px;
  font-size: 14px;
}
.table_01 td {
  border: solid 1px #ccc;
  padding: 10px;
  font-size: 14px;
}
.table_01 tbody tr td:nth-child(odd){
  text-align: center;
  width: 34%;
}
.table_subsidy {
  margin-top: 10px;
}
.message_box {
  padding: 5px 10px;
  border: solid 2px #acee12;
  align-content: center;
  border-radius: 0.2em;
  font-size: 0.5rem;
}
.table_01 td input{
  font-size: 14px;
  width: 90%;
}
.table_01 tbody tr:nth-child(3) td input{
  font-size: 14px;
  width: 30%;
}
.table_01 tbody tr:nth-child(4) td input{
  font-size: 14px;
  width: 30%;
}
.table_01 tbody tr:nth-child(5) td input{
  font-size: 14px;
  width: 30%;
}
.table_01 select {
  font-size: 14px;
  width: 50px;
}
.select_explain{
  margin:0;
}
/*受講者入力テーブル*/
.table_02_main {
  overflow-x: auto;
}
/*===========
scrollbar
===========*/
/*スクロールバー全体の高さ*/
.table_02_main::-webkit-scrollbar {
  height: 10px;
  }
  /*スクロールバー全体の背景*/
  .table_02_main::-webkit-scrollbar-track {
  background: #eee;
  }
  /*スクロールバーの動く部分*/
  .table_02_main::-webkit-scrollbar-thumb {
  background: #aaa;
  border: none;
  }
  /*スクロールバーの動く部分のホバー（マウスオーバー）*/
  .table_02_main::-webkit-scrollbar-thumb:hover {
  background: #999;
  }

.table_02 {
  margin: 0 auto 5px;
  border-collapse: collapse;
  border-spacing: 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font-size: 0.5rem;
  white-space: nowrap;
}
.table_02 tr {
  width: 100%;
}
.table_02 th {
  border: solid 1px #ccc;
  color: #fff;
  padding: 5px;
  font-size: 15px;
  white-space: nowrap;
}
.table_02 td {
  border: solid 1px #ccc;
    font-size: 14px;
    text-align: center;
    width: 10%;
}
.table_02 td:nth-child(3){
  width: auto;
}
.table_02 td:nth-child(7){
  width: 17%;
}
.table_02 td:nth-child(9){
  width: auto;
}
.table_02 td input{
  font-size: 14px;
  width: 90%;
}
.table_02 select {
  font-size: 14px;
  width: 100%;
}
/*申請、戻るボタン*/
.example-r {
  text-align: center;
  margin: 5% auto 10%;
}
.example-r button{
  padding: 4px 40px;
  font-size: 16px;
  margin: 0 25px;
  color: #fff;
  background: #2b74c2;
  border: 0;
}
.example-r button a{
  text-decoration: none;
  color:#fff;
}
/*画像*/
.explanation_image {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.explanation_image_child {
  width: 45%;
  margin: 0 auto;
}
.explanation_image_child img{
  width: 100%;
}
.explanation_image_text {
  min-height: 45px;
  margin-bottom: 10px;
}

.search{
  margin-top: 30px;
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap; /*回り込み*/
}
.stsys3_table{
  margin-top: 30px;
}

/* スマホ横＆タブレット縦対応 */
@media screen and (min-width:801px) and (max-width:1200px) {
  /*受講者入力テーブル*/
  .table_02 td input {
    width: 90%;
  }
  .table_02 td {
    min-width: 100px;
  }
  /*性別*/
  .table_02 td:nth-child(3){
    min-width: auto;
  }
  /*個人電話番号*/
  .table_02 td:nth-child(4){
    min-width: 125px;
  }
  /*携帯電話番号*/
  .table_02 td:nth-child(5){
    min-width: 100px;
  }
  /*住所*/
  .table_02 td:nth-child(7){
    min-width: 200px;
  }
  /*希望コース*/
  .table_02 td:nth-child(9){
    min-width: auto;
  }
}
/* スマホ横＆タブレット縦対応 */
@media screen and (min-width:500px) and (max-width:800px) {
  /*受講者入力テーブル*/
  .table_02 td input {
    width: auto;
  }
  .table_02 td {
    min-width: 100px;
  }
  /*性別*/
  .table_02 td:nth-child(3){
    min-width: 50px;
  }
  /*個人電話番号*/
  .table_02 td:nth-child(4){
    min-width: 125px;
  }
  /*携帯電話番号*/
  .table_02 td:nth-child(5){
    min-width: 100px;
  }
  /*住所*/
  .table_02 td:nth-child(7){
    min-width: 200px;
  }
  /*希望コース*/
  .table_02 td:nth-child(9){
    min-width: auto;
  }
  /*画像*/
  .explanation_image{
    display: block;
  }
  .explanation_image_child{
    width: 80%;
  }
}
/* スマホ縦対応  */
@media screen and (max-width:499px) { 
  /*全体*/
  .main_container{
    width:96%;
  }
  /*会社情報入力テーブル*/
  .table_01 td {
    padding: 5px;
  }
  .table_01 td input {
    width: 95%!important;
  }
  .table_01 tbody tr td:nth-child(odd){
    padding:5px 0;
  }
  /*受講者入力テーブル*/
  .table_02 td input {
    width: auto;
  }
  .table_02 td {
    min-width: 100px;
  }
  /*受講者氏名*/
  .table_02 td:nth-child(1){
    min-width: auto;
  }
  /*生年月日*/
  .table_02 td:nth-child(2){
    min-width: auto;
  }
  /*性別*/
  .table_02 td:nth-child(3){
    min-width: 50px;
  }
  /*個人電話番号*/
  .table_02 td:nth-child(4){
    min-width: 125px;
  }
  /*携帯電話番号*/
  .table_02 td:nth-child(5){
    min-width: 100px;
  }
  /*住所*/
  .table_02 td:nth-child(7){
    min-width: 200px;
  }
  /*希望コース*/
  .table_02 td:nth-child(9){
    min-width: auto;
  }
  /*参考画像*/
  .explanation_image {
    display: block;
  }
  .explanation_image_child {
    width: 95%;
  }
}
