html{
  font-size: 62.5%;
}
/* スマホ横＆タブレット縦対応 */
@media screen and (min-width:500px) and (max-width:800px) {

}
/* スマホ縦対応  */
@media screen and (max-width:499px) { 
  html{
    font-size: 55.5%;
  }
}
  body {
    /* font-size: 10px; */
  }
  /*******改行********/
  /* タブレット横＆ＰＣ対応 */
@media screen and (min-width:801px){
  .view_sp {
    display: none;
  }
}
/* スマホ横＆タブレット縦対応 */
@media screen and (min-width:500px) and (max-width:800px) {
  .view_sp {
    display: none;
  }
}
/* スマホ縦対応  */
@media screen and (max-width:499px) { 
  .view_pc {
    display: none;
  }
}

  .main_container {
    width:91%;
    margin:0 auto;
  }
  .title1 {
    margin-top: 20px;
  }
  .title1 h1 {
    font-size: 2.4rem;
  }
  /*下線*/
  .underline_red{
    color: red;
    text-decoration: underline;
  }
  .underline_black {
    color:black;
    text-decoration: underline;
  }
  .color_red {
    color:red;
  }
  /*最初の説明*/
  .explanation { 
    margin: 30px auto 0;
    border: 1px solid;
    padding: 5px;
  }

    /* カレンダー */
    .container1 {
      font-family: "Noto Sans", sans-serif;
      margin: 50px auto 0;
  }
  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    padding: 5px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
  }

  .h1,
  .h2,
  .h3,
  h1,
  h2,
  h3 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
  }
  
  /*テーブル*/
  .table-bordered th {
    /* height: 50px; */
    text-align: center;
  }
  
  .table-bordered td {
    /* height: 30px; */
    text-align: center;
    white-space: nowrap;
  }
  /*人数選択*/
  .table_num {
    text-align: left!important;
  }
  
  .today {
    background: orange;
  }
  
  th:nth-of-type(1),
  td:nth-of-type(1) {
    color: black;
  }
  
  th:nth-of-type(7),
  td:nth-of-type(7) {
    color: blue;
  }
  
  .table-bordered tbody tr td h3 {
    font-size:1.4rem;
  }

  .holiday {
    color: red;
  }
  
  .green {
    color: green;
  }
  .sub-tr{
    background-color: #f2f0c2;
  }
  /* カレンダー 終わり*/
  
  /*料金表始まり*/
  #Exam_details {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 15px;
  }
  .Exam_details_center {
    text-align: center;
  }
  .crane {
    font-size: 1.6rem;
    width: 49%;
  }
  .crane_child {
    width: 100%;
  }
  .crane_child td{
    padding:5px;
  }
  .crane_child th{
    padding:5px;
  }
  /*コース名*/
  .crane_child .crane_child_box td:nth-child(1){
    width:8%;
  }
  /*コース時間*/
  .crane_child .crane_child_box td:nth-child(2){
    width:8%;
  }
  /*受講資格*/
  .crane_child .crane_child_box td:nth-child(3){
    width:70%;
  }
  /*料金*/
  .crane_child .crane_child_box td:nth-child(4){
    width:14%;
  }
  .pay_explanation_left {
    /* float: left;
    width: 50%; 要素の幅を50%に定義 */
  }
  .pay_explanation_right {
    /* float: right;
    width: 50%; 要素の幅を50%に定義 */
  }
  .area-tr {
    background-color: rgba(110, 184, 36, 0.815);
  }
  .course_type {
    text-decoration: underline;
    background-color: rgba(255, 248, 220, 0.836);
  }
  /*下記の詳細*/
  #pay_explanation {
    margin: 60px auto 0;
  }
  .pay_explanation_flex {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
  }
  .pay_explanation_box {
    width: 48%;
    position: relative;
  }
  .pay_explanation_strong {
    position: absolute;
    bottom: 0px;
    margin-bottom: 10px;
    font-size: 1.8rem;
  }
  .form_explanation {
    font-size: 2.0rem;
    margin: 20px auto 30px;
    font-weight: bold;
  }
  /*料金表*/
  .course_th {
    /* width: 100px; */
    text-align: center;
  }
  .subject_th {
    /* width: 500px; */
    text-align: center;
  }
  .price_th {
    /* width: 100px; */
    text-align: center;
  }
.R4{
  height: 50px;
}

  /* スマホ横＆タブレット縦対応 */
@media screen and (min-width:500px) and (max-width:800px) {
  /*カレンダー*/
  .container1 form {
    overflow: scroll;
  }
  .container1 form table {
    white-space: nowrap;
  }
  /*下記の表*/
  .crane_child th {
    white-space: nowrap;
  }
}
/* スマホ縦対応  */
@media screen and (max-width:499px) { 
  /*カレンダー*/
  .container1 form {
    overflow: scroll;
  }
  .container1 form table {
    white-space: nowrap;
  }
  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    padding: 3px;
    line-height: 1;
  }
  .table-bordered {
    zoom: .8;
  }
  /*下記の表*/
  #Exam_details {
    display: block;
  }
  .crane {
    width: 100%;
    margin: 0 auto;
}
  .crane_child th {
    white-space: nowrap;
  }
  /*注意点*/
  .pay_explanation_flex {
    display: block;
  }
  .pay_explanation_box {
    width: 100%;
    margin: 0 auto;
  }
  .pay_explanation_strong {
    position: initial;
  }
}
