.f10px {
  font-size: 10px;
}

.f11px {
  font-size: 11px;
}

.f14px {
  font-size: 14px;
}

.under {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}